body {
min-height: 1160px;
margin: 0;
padding: 0;
font-family: 'Roboto', 'Arial', sans-serif;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: #000;
}
a {
text-decoration: none;
}
.main-header {
background-color: #eee;
text-transform: uppercase;
padding-top: 50px;
}

.navigation {
  display: flex;
   }
.container {

justify-content: space-between;
margin: 0 auto;
width: 1180px;

}
.main-header
.container {
    width: 1160px;
    margin: 0 auto;
display: flex;
}

.cart   {
  max-width: 160px;
  padding-left: 50px;
background-image: url("../img/cart-icon.svg");
background-repeat: no-repeat;
background-position: 0 0;
opacity: 1;
}
.navigation a,
.cart a {
  display: block;
  padding: 25px 20px;
  vertical-align: middle;
}
.navigation-link:hover::before,
.navigation-link:focus::before,
.navigation-link:active::before {
background-color: #e74246;
}


.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
clip: rect(0, 0, 0, 0);
}
.slider {
position: relative;
background-color: #eeeeee;
}
.slider-controls {
position: absolute;
left: 50%;
bottom: 104px;
z-index: 100;
width: 160px;
height: 18px;
text-align: center;
font-size: 0;
transform: translateX(-50%);
}
.slider-controls i {
position: relative;
display: inline-block;
width: 18px;
height: 18px;
padding: 8px;
border-radius: 50%;
cursor: pointer;
}
.slider-controls i::after {
content: "";
position: absolute;
top: 8px;
left: 8px;
z-index: 1;
width: 18px;
height: 18px;
background: #ffffff;
border-radius: 50%;
}
.slider-controls .active::before {
content: "";
position: absolute;
left: 50%;
top: 50%;
z-index: 2;
width: 4px;
height: 4px;
margin: -4px;
background-color: inherit;
border: 2px solid #c1c1c1;
border-radius: 50%;
}
.slider-list {
margin: 0;
padding: 0;
list-style: none;
}
.slider-item {
display: none;
padding: 78px 0 80px 0;
}
.slider-item:nth-child(1) {
display: block;
}
.slider-item:nth-child(1) {
background-image: url("../img/slide1.png");
background-repeat: no-repeat;
background-position: 93% 18px;
}
.slider-item:nth-child(2) {
background-image: url("../img/slide2.png");
background-repeat: no-repeat;
background-position: 100% 0;
}
.slider-item:nth-child(3) {
background-image: url("../img/slide3.png");
background-repeat: no-repeat;
background-position: 100% 20px;
}
.slider-item h3 {
max-width: 600px;
margin: 0;
margin-bottom: 27px;
font-size: 55px;
line-height: 50px;
font-weight: 500;
}
.slider-item p {
max-width: 430px;
margin: 0;
margin-bottom: 38px;
}
.bth {
display: block;
width: 240px;
padding: 13px 0;
font-size: 16px;
line-height: 18px;
color: #ffffff;
text-transform: uppercase;
text-align: center;
text-decoration: none;
background-color: #fb565a;
border-radius: 3px;
border: none;
}
.bth:hover,
.bth:focus {
background-color: #e74246;
}
.bth:active {
background-color: #d7373b;
color: rgba(255, 255, 255, 0.3);
box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.categories {
width: 1160px;
margin: 0 auto;
margin-top: 82px;
padding-bottom: 80px;
border-bottom: 2px solid #eee;
display: flex;
justify-content: space-between;
}
.categories-item {
width: 300px;
}

h3 {
  display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold
}

.bth-red {
display: block;
box-sizing: border-box;
line-height: 18px;
text-decoration: none;
text-transform: uppercase;
text-align: center;
padding-top: 17px;
padding-bottom: 17px;
border-radius: 5px;
width: 160px;
color: #ffffff;
font-size: 16px;
background-color: #fb565a;
}
.bth-redd:hover {
background-color: #d6494d;
}
.bth-red:active {
background-color: #b63538;
}
.bth-green {
display: block;
box-sizing: border-box;
line-height: 18px;
text-decoration: none;
text-transform: uppercase;
text-align: center;
padding-top: 17px;
padding-bottom: 17px;
border-radius: 5px;
width: 160px;
color: #ffffff;
font-size: 16px;
background-color: #00ca74;
}
.bth-green:hover {
background-color: #01a25e;
}
.bth-green:active {
background-color: #009053;
}
.bth-yellow {
display: block;
box-sizing: border-box;
line-height: 18px;
text-decoration: none;
text-transform: uppercase;
text-align: center;
padding-top: 17px;
padding-bottom: 17px;
border-radius: 5px;
width: 160px;
color: #ffffff;
font-size: 16px;
background-color: #efc84a;
}
.bth-yellow:hover {
background-color: #d6ae2c;
}
.bth-yellow:active {
background-color: #c09b24;
}
.about { width: 1160px;
padding-top: 30px;
padding-bottom: 80px;
border-bottom: 2px solid #eee;
display: flex;
justify-content: space-between;
margin: 0;
margin: auto;
}
.left-column {
width: 660px;
margin-right: 120px;
}
.about-header {    padding: 0;
padding-top: 45px;
margin: 0;
font-size: 45px;
line-height: 45px;
font-weight: 500;
}
.about-promo {
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
.about-promo-h h3 {
text-transform: uppercase;
padding-top: 20px;
padding-bottom: 15px;
font-size: 16px;
line-height: 24px;
font-weight: 600;
}
.about-promo-h li {
list-style: none;
padding-bottom: 25px;
position: relative;
}
.right-column {
width: 360px;
}
.right-column ul {
list-style: none;
margin-top: 40px;
display: flex;
}
.about-text {
display: block;
text-align: center;
font-weight: bold;
text-transform: uppercase;
margin-top: 25px;
}
.about-text sup { font-size: 28px;
}
.right-column span {
font-size: 45px;
font-weight: bold;
line-height: 20px;
}
.right-column p {
padding-bottom: 30px;
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}
.partner { width: 1200px;
margin: 0;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 40px 30px 48px 30px;
border-bottom: 2px solid #eee;
margin-bottom: 80px;
}
.main-footer {
margin-top: 80px;
position: relative;
}
.contacts {
box-sizing: border-box;
position: absolute;
top: 70px;
left: 91px;
display: block;
background-color: #fff;
width: 320px;
height: 310px;
z-index: 30;
padding: 40px 50px;
}
.contanier-socials {
display: flex;
width: 1160px;
margin: auto;
margin-top: 40px;
}
.socials {
padding-top: 60px;
padding-bottom: 60px;
margin: auto;
text-align: center;
display: flex;
 }
.socials-bth-vk {
margin: 20px;
display: flex;
justify-content: center;
align-items: center;
width: 78px;
height: 78px;
border-radius: 50%;
background-color: #e1e1e1;
}
.socials-bth-vk:hover{
background-color:red;
}
.socials-bth-vk:active{
background-color: red;
}
.socials-bth-fb {
margin: 20px;
display: flex;
justify-content: center;
align-items: center;
width: 78px;
height: 78px;
border-radius: 50%;
background-color: #e1e1e1;
}
.socials-bth-fb:hover{
background-color: red;
}
.socials-bth-fb.bth:active {
background-color: red;
}
.socials-bth-inst {
margin: 20px;
display: flex;
justify-content: center;
align-items: center;
width: 78px;
height: 78px;
border-radius: 50%;
background-color: #e1e1e1;
}
.socials-bth-inst:hover {
background-color: red;
}
.socials-bth-inst:active {
background-color: red;
}
.friends { width: 560px;
}
.friends b {
margin: 0;
font-size: 36px;
line-height: 36px;
font-weight: 600;
}
.friends p {
font-size: 16px;
line-height: 22px;
color: #444;
}
img {
  max-width: 100%;
  height: auto;
}









fieldset { margin-bottom: 57px;
border: none;
}
ul li{
list-style-type: none;
}

.wrapper-title  {
padding-top: 50px;
    padding-bottom: 115px;
    text-align: center;
    background-color: #eee;
}
.wrapper-title h1 {
  display: block;
    line-height: 55px;
    font-weight: 500;
    padding: 0;
    padding-bottom: 30px;
    margin: 0;
font-size: 55px;
}
.container-wrapper {
display: flex;
width: 1180px;
justify-content: space-between;
margin: 0;
margin: auto;
}
.container-filter {
width: 238px;
margin-right: 120px;
}


.range-title {
  display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    padding-top: 60px;
    padding-bottom: 60px;
}

.range-controls {
  position: relative;
    height: 41px;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    padding-top: 39px;
    background: #f1f1f1;
}
.range-scale {
  height: 2px;
    background: #d7dcde
}


  .range-bar { width: 70%;
    height: 2px;
    background: #00ca74;
}
.range-bar-min {
  left: 20px;
}
 .range-bar-min::before {
  content: "";
    width: 25px;
    height: 25px;
    top: -5px;
    left: 0;
    position: absolute;
    background-image: url("../img/filter-button.svg");
    opacity: 0.4;
  }
.range-bar-max {
      left: 145px;
}
.range-bar-max::before {
  content: "";
    width: 25px;
    height: 25px;
    top: -5px;
    left: 0;
    position: absolute;
    background-image: url("../img/filter-button.svg");
    opacity: 0.4;
  }













.range-price {
      margin-bottom: 57px;
    font-size: 0;
}
.range-min  {
      display: inline-block;
    width: 50%;
    font-size: 16px;
}
.range-max { display: inline-block;
    width: 50%;
    font-size: 16px;
}
.min-price {
    font-size: 16px;
    margin-left: 10px;
    text-align: center;
    width: 60px;
    padding: 8px 10px;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price {
    font-size: 16px;
    margin-left: 10px;
    text-align: center;
    width: 60px;
    padding: 8px 10px;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
.grid-title {
      display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    padding-bottom: 30px;
}
.grid-label {
      position: relative;
    font-size: 16px;
    line-height: 20px;
    display: block;
    cursor: pointer;
    color: #283136;
    padding-bottom: 25px;
    padding-left: 37px
}
.grid-label-radio:before{
      content: "";
    width: 25px;
    height: 25px;
    top: -5px;
    left: 0;
    position: absolute;
    background-image: url("../img/radio-off.svg");
    opacity: 0.4;
}
.grid-item {
      display: none;
}
input[type=radio]:checked + label::before {
    content: "";
    width: 25px;
    height: 25px;
    top: -5px;
    left: 0;
    position: absolute;
    background-image: url("../img/radio-on.svg");
}

.features-title {
       display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    padding-bottom: 30px;
}
.features-item {
      display: none;
}
.features-label {
      position: relative;
    font-size: 16px;
    line-height: 20px;
    display: block;
    cursor: pointer;
    color: #283136;
    padding-bottom: 25px;
    padding-left: 37px;
}
.features-label-chek::before {
      content: "";
    width: 23px;
    height: 23px;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("../img/checkbox-off.svg");
    opacity: 0.4;
}
input[type=checkbox]:checked + label::before {
    content: "";
    width: 27px;
    height: 23px;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("../img/checkbox-on.svg");
  }




.filter {
margin-top: 60px;
margin-bottom: 90px;
}
.filter-sort {
display: inline-block;
margin: 0;
padding: 0;
list-style: none;
border: 0;
text-transform: uppercase;
}
.filter-sort-title {
display: inline-block;
font-size: 18px;
line-height: 18px;
font-weight: 600;
margin-right: 240px;
}
.features-list {
margin-bottom: 57px;
}
.features-list li {
position: relative;
font-size: 16px;
line-height: 20px;
display: block;
cursor: pointer;
color: #283136;
padding-bottom: 25px;
padding-left: 37px;
}
.filter-item-active {
display: inline-block;
font-size: 14px;
line-height: 18px;
margin-left: 27px;
}
.filter-item-active a {
color: #000;
opacity: 1;
}
.filter-item {
display: inline-block;
font-size: 14px;
line-height: 18px;
margin-left: 27px;
}
.filter-item a {
color: #000;
opacity: 0.3;
text-decoration: none;
}
.filter-toggle {
display: inline-block;
margin-left: 37px;
}
.filter-down {
width: 10px;
height: 10px;
margin-right: 10px;
background-image: url("../img/icon-down-dir.svg");
}
.filter-up {
width: 10px;
height: 10px;
background-image: url("../img/icon-up-dir.svg");
opacity: 0.2;
cursor: auto;
}
.filter-item-active {
display: inline-block;
font-size: 14px;
line-height: 18px;
margin-left: 27px;
}
.filter-item-active a {
color: #000;
opacity: 1;
}
.filter-item {
display: inline-block;
font-size: 14px;
line-height: 18px;
margin-left: 27px;
}
.filter-item a {
color: #000;
opacity: 0.3;
text-decoration: none;
}
.filter-toggle {
display: inline-block;
margin-left: 37px;
}
.filter-down {
width: 10px;
height: 10px;
margin-right: 10px;
background-image: url("../img/icon-down-dir.svg");
}
.filter-up {
width: 10px;
height: 10px;
background-image: url("../img/icon-up-dir.svg");
opacity: 0.2;
cursor: auto;
}
.product-item::before {
content: "";
position: absolute;
width: 360px;
height: 40px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
background-color: #eee;
top: -39px;
}
.product-item::after{
content: "";
position: absolute;
width: 15px;
height: 15px;
border-radius: 50%;
background-color: #fff;
left: 50px;
top: -25px;
box-shadow: 25px 0 0 0 #fff, -25px 0 0 0 #fff;
}
.product-list {
width: 800px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.product-item {
position: relative;
display: flex;
margin-bottom: 30px;
}
.product-hidden {
position: absolute;
background: #eeeeee;
width: 360px;
height: 230px;
text-align: center;
margin-top: 345px;
font-size: 16px;
display: flex;
display: inline-block;
}
.features-bth {
font-size: 16px;
line-height: 20px;
font-weight: 500;
text-transform: uppercase;
display: block;
width: 260px;
min-height: 50px;
background-color: #eee;
border: 0;
cursor: pointer;
border-radius: 5%;
border-radius: 5px
}
.paginator {
display: block;
}

.paginator-link {
display: inline-block;
box-sizing: border-box;
vertical-align: top;
height: 50px;
text-decoration: none;
color: #2e2e2e;
font-size: 16px;
line-height: 18px;
padding: 16px 21px;
background-color: #eee;
border-radius: 5%;
margin-right: 6px;
}
.paginator-next {
display: inline-block;
box-sizing: border-box;
vertical-align: top;
height: 50px;
text-decoration: none;
color: #2e2e2e;
font-size: 16px;
line-height: 18px;
padding: 16px 21px;
background-color: #eee;
border-radius: 5%;
margin-right: 6px;
}
/* .popup {
width: 960px;
height: 590px;
background-color: #ffffff;
display: block;
position: fixed;
font-size: 45px;
top: 275px;
left: 33%;
background: #ffffff;
box-shadow: 5px 5px 10px #000;
padding: 50px 80px;
} */
