body {
min-height: 1200px;
margin: 0;
padding: 0;
font-family: "Roboto", "Arial", sans-serif;
font-size: 16px;
line-height: 24px;
font-weight: 500;
color: #000;
box-sizing: border-box;
}
*,
*::before,
*::after {
box-sizing: inherit;
}

img {

max-width: 100%;
}
a {
color: #000;
text-decoration: none;
}
.container {
padding: 0 20px;
margin: 0 auto;
width: 1200px;
}
.main-header {
background-color: #eee;
text-transform: uppercase;
padding-top: 50px;
}

.navigation {
  margin-top: 30px;
display: flex;
}

.main-header .container {
justify-content: space-between;
width: 1200px;
margin: 0 auto;
display: flex;
}
.cart-link {
color: #000;
padding-left: 5px;
position: relative;
display: block;
}
.cart-link::before {
content: "";
left: 0;
bottom: 5px;
position: absolute;
display: block;
width: 15px;
height: 15px;
background: url("../img/cart-icon.svg");
}

.navigation a {
  margin-right: 45px;
display: block;

}
.navigation-link-active:hover,
.navigation-link:hover,
.cart-link:hover {
color: red;
}
.cart a {
margin-top: 30px;
padding-left: 40px;
}

.navigation-link-active::before {
  content: "";
  position: absolute;
  background: #fb565a;
  height: 2px;
  width: 75px;
  margin-top: 30px;
}


.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
clip: rect(0, 0, 0, 0);
}
.slider {

  height: 426px;
position: relative;
background-color: #eeeeee;
}
.slider-controls {
  box-sizing: initial;
position: absolute;
left: 50%;
bottom: 104px;
z-index: 100;
width: 160px;
height: 18px;
text-align: center;
font-size: 0;
transform: translateX(-50%);
}
.slider-controls label {
position: relative;
display: inline-block;
width: 18px;
height: 18px;
padding: 8px;
border-radius: 50%;
cursor: pointer;
}

.slider-controls label::after {
content: "";
position: absolute;
top: 8px;
left: 8px;
z-index: 1;
width: 18px;
height: 18px;
background: #ffffff;
border-radius: 50%;
}
.slider-list {
  box-sizing: initial;
margin: 0;
padding: 0;
list-style: none;
}
.slider-item {
height: 288px;
display: none;
padding: 65px 0 80px 0;
}
.slider-item:nth-child(1) {
background-image: url("../img/slide1.png");
background-repeat: no-repeat;
background-position: 93% 14px;
}
.slider-item:nth-child(2) {
background-image: url("../img/slide2.png");
background-repeat: no-repeat;
background-position: 100% -3px;
}
.slider-item:nth-child(3) {
background-image: url("../img/slide3.png");
background-repeat: no-repeat;
background-position: 100% 16px;
}
#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
display: block;
}
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
display: block;
}
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
display: block;
}
#product-1:checked ~ .slider-controls .slider-controls-item-1::before,
#product-2:checked ~ .slider-controls .slider-controls-item-2::before,
#product-3:checked ~ .slider-controls .slider-controls-item-3::before {
content: "";
position: absolute;
left: 50%;
top: 50%;
z-index: 2;
width: 4px;
height: 4px;
margin: -4px;
background-color: inherit;
border: 2px solid #c1c1c1;
border-radius: 50%;
}
.slider-item h3 {
max-width: 600px;
margin: 0;
margin-bottom: 20px;
font-size: 55px;
line-height: 61px;
font-weight: 500;
}
.slider-item p {
  line-height: 25px;
max-width: 430px;
margin: 0;
margin-bottom: 39px;
}



.btn {
  display: inline-block;
  padding: 18px 40px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;

  }
  .slider-list .btn  {
    padding: 13px 55px;
    background-color: #fb565a;
  }
  .slider-list .btn:hover {
    background-color: #e74246;

  }
  .slider-list .btn:focus,
  .slider-list .btn:active {
  background-color: #e74246;
  }









  .categories {
    margin-top: 80px;
   }
   .categories-list {
    border-bottom: 2px solid #eee;
    display: flex;
    padding-bottom: 80px;
  }
  .categories-item {
    width: 300px;
    margin-right: 100px;
  }
  .categories-item:last-child {
    margin-right: 0;
  }
  .categories h3 {
    line-height: 17px;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
  }
  .categories p {
    color: #939393;
    width: 250px;
    font-size: 16px;
  }

  .btn.web {
    margin-top: 30px;
    display: block;
    text-align: center;
    padding-top: 15px;
    width: 160px;
    background-color: #fb565a;
    height: 50px
  }
  .btn.web:hover {
    background-color: #d6494d;
  }
  .btn.web:focus,
  .btn.web:active {
    background-color: #d6494d;
  }
  .btn.app {
    margin-top: 30px;
    display: block;
    text-align: center;
    padding-top: 15px;
    width: 160px;
    height: 50px;
    height: 50px;
    background-color: #00ca74
  }
  .btn.app:hover {
    background-color: #01a25e;
  }
  .btn.app:focus,
  .btn.app:active {
    background-color: #01a25e;
  }
  .btn.present {
    margin-top: 30px;
    display: block;
    text-align: center;
    padding-top: 15px;
    width: 160px;
    height: 50px;
    height: 50px;
  background-color: #efc84a;
  }
  .btn.present:hover{
    background-color: #d6ae2c;
  }
  .btn.present:focus,
  .btn.present:active {
    background-color: #d6ae2c;
  }

.about-container {
  border-bottom: 2px solid #eee;
  display: flex;
    justify-content: space-between;
}
.left-column {
  width: 660px;
  margin-right: 120px;
  margin-top: 70px;
  margin-bottom: 32px;
}
.left-column h2 {
  font-size: 45px;
font-weight: 500;
}
.about-header {
padding: 0;
margin: 0;
font-size: 45px;
line-height: 45px;
font-weight: 500;
}
.about-promo {
  color: #939393;
  margin-top: 35px;
width: 620px;
}

.about-promo + h3 {
text-transform: uppercase;
padding-top: 22px;
font-size: 16px;
}
.about-promo-h {
  color: #939393;
  margin-top: 25px;
}
.about-promo-h li {
list-style: none;
padding-bottom: 25px;
position: relative;
}
.about-promo-h li::before {
content: "";
top: 12px;
left: -35px;
position: absolute;
width: 25px;
height: 2px;
background-color: #fb565a;
}
.right-column {margin-top: 40px;
width: 360px;
}
.right-column ul {
list-style: none;
margin-top: 40px;
display: flex;
}
.about-text {
display: block;
text-align: center;
text-transform: uppercase;
margin-top: 27px;
}
.right-column sup {
  font-size: 28px;
}
.right-column ul {
padding: 0;
margin-top: 27px;
}
.about-text sup {
font-size: 28px;
}
.right-column li p {
  color: #939393;
  line-height: 18px;
}
.right-column span {
  padding-top: 15px;
  padding-right: 20px;
  font-size: 45px;
  line-height: 1;
  display: block;
  text-transform: uppercase;
}

.container-partner {
  padding: 50px 40px 33px 31px;
  margin-bottom: 80px;
  border-bottom: 2px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partner-item {
  opacity: 0.24;
}
.partner-item::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #898989;
  width: 2px;
  height: 55px;
  margin-left:  245px;
  }
  .partner-item:nth-last-child .partner-item::before {
    background-color: #ffffff;
  }
.partner-item:hover {
  opacity: 1;
}
.partner-item:active,
.partner-item:focus {
  opacity: 1;
}


.contacts {
display: block;
z-index: 5;
position: absolute;
top: 53px;
margin: 0;
background-color: rgb(255, 255, 255);
width: 320px;
height: 308px;
padding: 40px 50px;
}
.nerds {
  width: 220px;
  font-size: 18px;
  }
.contacts p {
margin-bottom: 5px;
display: block;
color: #666;
width: 205px;
}
.contacts .modal {
  margin-top: 25px;
  background-color: #fb565a;
  display: block;
  line-height: 18px;
text-align: center;
padding-top: 17px;
padding-bottom: 17px;
}
.contacts .modal:hover {
  background-color: #d6494d;
}
.contacts .modal:active,
.contacts .modal:focus {
background-color: #d6494d;
}





.map { z-index: 3;
height: 416px;
position: relative;
}
.map-map {

  z-index: 1;
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
}
.map-interactive {
  border: none;
z-index: 2;
position: absolute;
}


.contanier-socials {
padding-bottom: 70px;
display: flex;
margin-top: 40px;
}
.socials {
padding-bottom: 60px;
text-align: center;
display: flex;
}
.socials-btn {
  margin-right: 15px;
  margin-top: 30px;
  background: #e1e1e1;
  width: 78px;
height: 78px;
border-radius: 50%;
}
.vk {
  background-image: url(../img/vk.png);
  background-repeat: no-repeat;
  background-position: center;
}
.vk:hover{
  background-color: #fb565a;
}
.vk:focus,
.vk:active {
background-color: #d6494d;
}
.fb {
  background-image: url(../img/fb.png);
  background-repeat: no-repeat;
  background-position: center;
}
.fb:hover{
  background-color: #d6494d;
}
.fb:focus,
.fb:active {
background-color: #d6494d;
}
.inst {
  background-image: url(../img/insta.png);
  background-repeat: no-repeat;
  background-position: center;
}
.inst:hover{
  background-color: #d6494d;
}
.inst:focus,
.inst:active {
  background-color: #d6494d;
}
.friends {
  margin-top: 35px;
margin-left: 120px;
}
.friends-item {
margin: 0;
font-size: 36px;
line-height: 36px;
font-weight: 500;
}
.friends-title {
font-size: 16px;
line-height: 12px;
color: #444;
}
fieldset {
padding: 0;

border: none;
}
ul li {
list-style-type: none;
}
.wrapper-title {
margin-bottom: 55px;
padding-top: 55px;
padding-bottom: 91px;
text-align: center;
background-color:  #eeeeee ;
}
.wrapper-title h1 {
display: block;
line-height: 87px;
font-weight: 500;
padding: 0;
margin: 0;
font-size: 55px;
}
.container-wrapper {
display: flex;
justify-content: space-between;
margin: auto;
}
.container-filter {
  width: 260px;
margin: 0;
}
.container-filter legend {
display: inline-block;
text-transform: uppercase;
font-size: 18px;
line-height: 28px;

padding-bottom: 30px;
}

.range-filter {
  margin-top: 24px;
  box-sizing: initial;
  padding-bottom: 55px;
}
.filter-item legend {
margin: 0;
width: 260px;
font-size: 18px;
line-height: 24px;
text-transform: uppercase;
}
.range-controls {
position: relative;
height: 41px;
margin-bottom: 15px;
padding-top: 39px;
padding-right: 20px;
padding-left: 20px;
background-color: #f1f1f1;
border-radius: 5px;
}
.range-controls .scale {
height: 2px;
background: #d7dcde;
}
.range-controls .bar {
width: 70%;
height: 2px;
background: #00ca74;
}
.range-controls .toggle {
position: absolute;
top: 31px;
width: 4px;
height: 4px;
padding: 0;
border: 8px solid #ffffff;
background-color: #ababab;
box-shadow: 0 2px 1px 0 #cfcfcf;
border-radius: 50%;
cursor: pointer;
}
.range-controls .toggle-min {
left: 18px;
}
.range-controls .toggle-max {
left: 160px;
}
.price-controls {
font-size: 0;
}
.price-controls label {
display: inline-block;
width: 50%;
font-size: 16px;
}
.price-controls input {
width: 60px;
padding: 8px 10px;
margin-left: 10px;
font-family: Roboto, Arial, sans-serif;
font-size: 16px;
text-align: center;
color: #283136;
border: none;
border-radius: 5px;
background: #f1f1f1;
}
.max-price {
text-align: right;
}
.grid-list {
  margin-top: -14px;
padding-left: 0;
}
.grid-label {
position: relative;
font-size: 16px;
line-height: 20px;
display: block;
cursor: pointer;
color: #283136;
padding-bottom: 25px;
padding-left: 37px;
}
.grid-label-radio:before {
content: "";
width: 25px;
height: 25px;
top: -5px;
left: 0;
position: absolute;
background-image: url("../img/radio-off.svg");
opacity: 0.4;
}
.grid-item {
display: none;
}
input[type="radio"]:checked + label::before {
content: "";
width: 25px;
height: 25px;
top: -5px;
left: 0;
position: absolute;
background-image: url("../img/radio-on.svg");
}
.features-item {
display: none;
}
.features-label {
position: relative;
font-size: 16px;
line-height: 20px;
display: block;
cursor: pointer;
color: #283136;
margin-bottom: 20px;
padding-left: 37px;
}
.features-label-chek::before {
content: "";
width: 23px;
height: 23px;
top: 0;
left: 0;
position: absolute;
background-image: url("../img/checkbox-off.svg");
opacity: 0.4;
}
input[type="checkbox"]:checked + label::before {
content: "";
width: 27px;
height: 23px;
top: 0;
left: 0;
position: absolute;
background-image: url("../img/checkbox-on.svg");
}

.filter-sort {
display: inline-block;
margin: 0;
padding: 0;
list-style: none;
border: 0;
text-transform: uppercase;
}
.filter-sort-title {ort-
display: inline-block;
font-size: 18px;
font-weight: 500;
margin-right: 267px;
}

.features-list {
padding-left: 0;
margin-top: -14px;
}
.features-list li {
position: relative;
font-size: 16px;
line-height: 20px;
display: block;
cursor: pointer;
color: #283136;
}

.filter-right {
display:flex
}
.filter-sort {
display: flex;
}
.filter-sort-title + li {
opacity: 1;
}
.filter-sort-item  {
  margin-right: 28px;
font-size: 14px;
color: #000;
opacity: 0.4;
text-decoration: none;
}
.filter-sort-item a:hover {
  opacity: 0.5;

}
.filter-sort-item a:focus,
.filter-sort-item a:active {
opacity: 0.5;
}
.filter-toggle {
display: inline-block;
margin-left: 15px;
}
.filter-link {
display: inline-block;
width: 10px;
height: 11px;
}
.filter-down {
background-image: url("../img/icon-down-dir.svg");
background-repeat: no-repeat;
}
.filter-down:hover {
  opacity: 0.3;
}
.filter-down:focus,
.filter-down:active {
  opacity: 0.3;
}
.filter-up {
opacity: 0.3;
margin-left: 13px;
background-image: url("../img/icon-up-dir.svg");
background-repeat: no-repeat;
}
.filter-item {
padding: 0;
display: inline-block;
line-height: 18px;
}
.filter-down a {
width: 9px;
height: 11px;
margin-right: 10px;
background-image: url("../img/sort-down.svg");
background-repeat: no-repeat;
}


.product-list {
margin-top: 96px;
width: 760px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.product-item {
position: relative;
margin-bottom: 63px;
}
.product-item::before {
  content: "";
  top: -40px;
    left: 0;
  position: absolute;
width: 360px;
height: 40px;
background-repeat: no-repeat;
background-image: url("../img/browser.png");
opacity: 0.2;
}
.product-item:hover::before  {
  opacity: 1;
}
.product-item:focus::before,
.product-item:active::before {
  opacity: 1;
}

.product-hidden {
  opacity: 0;
  top: 0;
  left: 0;
position: absolute;
background: #eeeeee;
width: 360px;
height: 230px;
text-align: center;
margin-top: 345px;
font-size: 16px;
display: inline-block;
}

.product-hidden:hover {
  opacity: 1;
}
.product-hidden:focus,
.product-hidden:active {
  opacity: 1;
}
.product-hidden .product-item::before:focus {
  opacity: 1;
}
.product-hidden p {
font-size: 16px;
line-height: 18px;
color: #939393;
display: inline-block;
margin: 0;
padding: 0;
width: 225px;
}

.product-item h2 {
  margin-top: 28px;
}
.btn.hidden {
width: 200px;
height: 50px;
border: 0;
background-color: #fb565a;
margin-top: 26px;
line-height: 0;
}
.btn.features-btn {
  margin-top: 46px;
  color: black;
font-size: 16px;
line-height: 20px;
font-weight: 500;
text-transform: uppercase;
display: block;
width: 260px;
min-height: 50px;
background-color: #eee;
border: 0;
cursor: pointer;
}
.btn.features-btn:hover {
  background-color: #cfcfcf;
}
.btn.features-btn:active,
.btn.features-btn:focus {
  background-color: #cfcfcf;
}
.paginator {
  margin-bottom: -20px;
  margin-top: -8px;
display: block;
}
.paginator-link {
display: inline-block;
vertical-align: top;
line-height: 18px;
padding: 16px 21px;
background-color: #eee;
border-radius: 5%;
margin-right: 6px;
}
.paginator-link:hover {
  background-color: #cfcfcf;
}
.paginator-link:focus,
.paginator-link:active {
  background-color: #cfcfcf;
}
.paginator-active {
background-color: #fff;
border: 2px solid #eee;
box-sizing: border-box;
}
.btn.paginator-next {
  width: 258px;
border: none;
color: #2e2e2e;
line-height: 18px;
padding: 16px 21px;
background-color: #eee;
}
.btn.paginator-next:hover{
  background-color: #cfcfcf;
}
.btn.paginator-next:active,
.btn.paginator-next:focus {
    background-color: #cfcfcf;
}



.popup {
  box-sizing: initial;
z-index: 3;
position: relative;

width: 780px;
height: 440px;
background-color: #ffffff;
display: block;
position: fixed;
top: 75px;
left: 20%;
background: #ffffff;
box-shadow: 5px 5px 10px #000;
padding: 70px 100px;
display: none;
}
.popup h2 {
margin-top: auto;
margin-bottom: 40px;
/* margin: 0; */
font-size: 45px;
font-weight: 500;
}
.modal-name {
font-weight: 500;
}
.modal-email {
font-weight: 500;
}
.modal {
margin-bottom: 35px;
display: flex;
justify-content: space-between;
}
.login {
padding-left: 10px;
width: 360px;
height: 45px;
}
.email {
padding-left: 10px;
width: 360px;
height: 45px;
}
.modal-text {
margin-top: 15px;
font-weight: 500;
width: 760px;
}
.popup-btn {
color: #ffffff;
width: 200px;
height: 50px;
border: 0;
background-color: #fb565a;
font-size: 16px;
margin: 0;
}

.popup-btn:hover,
.popup-btn:active,
.popup-btn:focus {
background-color: #e74246;
background-color: #d7373b;
color: rgba(255, 255, 255, 0.3);
box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;

}
.modal-close {
border: none;
margin: 0;
content: "";
width: 25px;
height: 25px;
top: 70px;
left: 850px;
position: absolute;
background-image: url("../img/close-cross.svg");
background-repeat: no-repeat;
background-color: transparent;
}
.popup-show {
display: block;
animation: bounce 0.6s;
}
.popup-error {

animation: shake 0.6s;
}


@keyframes bounce {
0% {
transform: translateY(-2000px);
}

70% {
transform: translateY(30px);
}

90% {
transform: translateY(-10px);
}

100% {
transform: translateY(0);
}
}
@keyframes shake {
0%,
100% {
transform: translateX(0);
}

10%,
30%,
50%,
70%,
90% {
transform: translateX(-10px);
}

20%,
40%,
60%,
80% {
transform: translateX(10px);
}
}
